In [24]:
from datetime import datetime
import numpy as np
import pandas as pd

In [25]:
filepath = r"C:\Projects\jinan_dashboard\data\dirty_csv_data\new_bus_arrival_18051.csv"
df = pd.read_csv(filepath)

In [26]:
df

,_id,date_time,date,time,bus_number,operator,first_next_bus_estimated_arrival,first_next_bus_load,first_next_bus_feature,first_next_bus_the_type,...,first_bus_longitude,second_next_bus_estimated_arrival,second_next_bus_load,second_next_bus_feature,second_next_bus_the_type,second_next_bus_origin_code,second_next_bus_destination_code,second_next_bus_visit_number,second_bus_latitude,second_bus_longitude
0,5fe45a1f3dd9f6edcf509f0f,"2020,12,24,17,06,39,404396",2020-12-24,17:06:39.404396,91,SBST,"2020,12,24,17,15,56,000000",SEA,WAB,SD,...,0.000000,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
1,5fe4573f3dd9f6edcf509e43,"2020,12,24,16,54,23,806214",2020-12-24,16:54:23.806214,91,SBST,"2020,12,24,17,00,01,000000",SEA,WAB,SD,...,103.793839,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
2,5fe45b8b3dd9f6edcf509f82,"2020,12,24,17,12,43,375828",2020-12-24,17:12:43.375828,91,SBST,"2020,12,24,17,14,44,000000",SEA,WAB,SD,...,103.792268,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
3,5fe458ef3dd9f6edcf509eb0,"2020,12,24,17,01,35,422078",2020-12-24,17:01:35.422078,91,SBST,"2020,12,24,17,00,10,000000",SEA,WAB,SD,...,103.786186,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
4,5fe45c043dd9f6edcf509faa,"2020,12,24,17,14,44,805608",2020-12-24,17:14:44.805608,91,SBST,"2020,12,24,17,16,21,000000",SEA,WAB,SD,...,103.788657,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,600fd2202207d59299f2220e,"2021,01,26,16,26,08,107987",2021-01-26,16:26:08.108074,91,SBST,"2021,01,26,16,29,10,000000",SEA,WAB,SD,...,103.792150,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19962,600fd25d2207d59299f22222,"2021,01,26,16,27,09,044266",2021-01-26,16:27:09.044363,91,SBST,"2021,01,26,16,28,59,000000",SEA,WAB,SD,...,103.790737,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19963,600fd2992207d59299f22236,"2021,01,26,16,28,09,991297",2021-01-26,16:28:09.991385,91,SBST,"2021,01,26,16,28,39,000000",SEA,WAB,SD,...,103.787819,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19964,600fd2d72207d59299f2224a,"2021,01,26,16,29,11,071187",2021-01-26,16:29:11.071281,91,SBST,"2021,01,26,16,29,06,000000",SEA,WAB,SD,...,103.787136,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19965,600fd3142207d59299f2225e,"2021,01,26,16,30,12,079568",2021-01-26,16:30:12.079653,91,SBST,"2021,01,26,16,28,58,000000",SEA,WAB,SD,...,103.786218,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0

In [27]:
test = df.groupby(["date", "first_next_bus_load"], as_index=False).size()

In [28]:
test[test["date"]=="2021-01-04"]

         date first_next_bus_load  size
7  2021-01-04                 SDA     1
8  2021-01-04                 SEA   703

In [30]:
len(test["date"])

34

In [32]:
type(test["date"][0])

str