In [5]:
from datetime import datetime
import numpy as np
import pandas as pd

In [23]:
filepath = r"C:\Projects\jinan_dashboard\data\dirty_csv_data\new_bus_arrival_18051.csv"
df = pd.read_csv(filepath)

In [24]:
df

,_id,date_time,date,time,bus_number,operator,first_next_bus_estimated_arrival,first_next_bus_load,first_next_bus_feature,first_next_bus_the_type,...,first_bus_longitude,second_next_bus_estimated_arrival,second_next_bus_load,second_next_bus_feature,second_next_bus_the_type,second_next_bus_origin_code,second_next_bus_destination_code,second_next_bus_visit_number,second_bus_latitude,second_bus_longitude
0,5fe45a1f3dd9f6edcf509f0f,"2020,12,24,17,06,39,404396",2020-12-24,17:06:39.404396,91,SBST,"2020,12,24,17,15,56,000000",SEA,WAB,SD,...,0.000000,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
1,5fe4573f3dd9f6edcf509e43,"2020,12,24,16,54,23,806214",2020-12-24,16:54:23.806214,91,SBST,"2020,12,24,17,00,01,000000",SEA,WAB,SD,...,103.793839,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
2,5fe45b8b3dd9f6edcf509f82,"2020,12,24,17,12,43,375828",2020-12-24,17:12:43.375828,91,SBST,"2020,12,24,17,14,44,000000",SEA,WAB,SD,...,103.792268,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
3,5fe458ef3dd9f6edcf509eb0,"2020,12,24,17,01,35,422078",2020-12-24,17:01:35.422078,91,SBST,"2020,12,24,17,00,10,000000",SEA,WAB,SD,...,103.786186,"2020,12,24,17,15,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
4,5fe45c043dd9f6edcf509faa,"2020,12,24,17,14,44,805608",2020-12-24,17:14:44.805608,91,SBST,"2020,12,24,17,16,21,000000",SEA,WAB,SD,...,103.788657,"2020,12,24,17,34,16,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,600fd2202207d59299f2220e,"2021,01,26,16,26,08,107987",2021-01-26,16:26:08.108074,91,SBST,"2021,01,26,16,29,10,000000",SEA,WAB,SD,...,103.792150,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19962,600fd25d2207d59299f22222,"2021,01,26,16,27,09,044266",2021-01-26,16:27:09.044363,91,SBST,"2021,01,26,16,28,59,000000",SEA,WAB,SD,...,103.790737,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19963,600fd2992207d59299f22236,"2021,01,26,16,28,09,991297",2021-01-26,16:28:09.991385,91,SBST,"2021,01,26,16,28,39,000000",SEA,WAB,SD,...,103.787819,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19964,600fd2d72207d59299f2224a,"2021,01,26,16,29,11,071187",2021-01-26,16:29:11.071281,91,SBST,"2021,01,26,16,29,06,000000",SEA,WAB,SD,...,103.787136,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0
19965,600fd3142207d59299f2225e,"2021,01,26,16,30,12,079568",2021-01-26,16:30:12.079653,91,SBST,"2021,01,26,16,28,58,000000",SEA,WAB,SD,...,103.786218,"2021,01,26,16,41,40,000000",SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0

In [25]:
df["date_time"]

0        2020,12,24,17,06,39,404396
1        2020,12,24,16,54,23,806214
2        2020,12,24,17,12,43,375828
3        2020,12,24,17,01,35,422078
4        2020,12,24,17,14,44,805608
                    ...
19961    2021,01,26,16,26,08,107987
19962    2021,01,26,16,27,09,044266
19963    2021,01,26,16,28,09,991297
19964    2021,01,26,16,29,11,071187
19965    2021,01,26,16,30,12,079568
Name: date_time, Length: 19966, dtype: object

In [27]:
def change_to_date(row):
    row["date_time"] = datetime.strptime(str(row["date_time"][0:-7]), "%Y,%m,%d,%H,%M,%S")
    row["first_next_bus_estimated_arrival"] = datetime.strptime(str(row["first_next_bus_estimated_arrival"][0:-7]), "%Y,%m,%d,%H,%M,%S")
    return row

In [28]:
df = df.apply(change_to_date, axis="columns")

In [29]:
def check_late():
    df["late"] = np.where(df["date_time"] > df["first_next_bus_estimated_arrival"], True, False)
    df["late_by"] = np.where(df["late"]==True, (df["date_time"] - df["first_next_bus_estimated_arrival"]).dt.total_seconds(), np.NaN)

In [30]:
check_late()

In [33]:
df = df.set_index("date_time")
df

,_id,date,time,bus_number,operator,first_next_bus_estimated_arrival,first_next_bus_load,first_next_bus_feature,first_next_bus_the_type,first_next_bus_origin_code,...,second_next_bus_load,second_next_bus_feature,second_next_bus_the_type,second_next_bus_origin_code,second_next_bus_destination_code,second_next_bus_visit_number,second_bus_latitude,second_bus_longitude,late,late_by
date_time,,,,,,,,,,,,,,,,,,,,,
2020-12-24 17:06:39,5fe45a1f3dd9f6edcf509f0f,2020-12-24,17:06:39.404396,91,SBST,2020-12-24 17:15:56,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2020-12-24 16:54:23,5fe4573f3dd9f6edcf509e43,2020-12-24,16:54:23.806214,91,SBST,2020-12-24 17:00:01,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2020-12-24 17:12:43,5fe45b8b3dd9f6edcf509f82,2020-12-24,17:12:43.375828,91,SBST,2020-12-24 17:14:44,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2020-12-24 17:01:35,5fe458ef3dd9f6edcf509eb0,2020-12-24,17:01:35.422078,91,SBST,2020-12-24 17:00:10,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,True,85.0
2020-12-24 17:14:44,5fe45c043dd9f6edcf509faa,2020-12-24,17:14:44.805608,91,SBST,2020-12-24 17:16:21,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-26 16:26:08,600fd2202207d59299f2220e,2021-01-26,16:26:08.108074,91,SBST,2021-01-26 16:29:10,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2021-01-26 16:27:09,600fd25d2207d59299f22222,2021-01-26,16:27:09.044363,91,SBST,2021-01-26 16:28:59,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2021-01-26 16:28:09,600fd2992207d59299f22236,2021-01-26,16:28:09.991385,91,SBST,2021-01-26 16:28:39,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,False,NaN
2021-01-26 16:29:11,600fd2d72207d59299f2224a,2021-01-26,16:29:11.071281,91,SBST,2021-01-26 16:29:06,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,True,5.0
2021-01-26 16:30:12,600fd3142207d59299f2225e,2021-01-26,16:30:12.079653,91,SBST,2021-01-26 16:28:58,SEA,WAB,SD,11379,...,SEA,WAB,SD,11379.0,11379.0,1.0,0.0,0.0,True,74.0

In [87]:
x = df.groupby(pd.Grouper(freq='D')).sum()[["late", "late_by"]]
index = x.index.astype(str)
date_data = index.to_numpy()
late_data = x.to_numpy()[:,0]
late_by_data = x.to_numpy()[:,1]

In [89]:
x

            late  late_by
date_time
2020-12-24    10    781.0
2020-12-25     0      0.0
2020-12-26    48   2240.0
2020-12-27     0      0.0
2020-12-28    31   1591.0
2020-12-29    90   4310.0
2020-12-30    72   3405.0
2020-12-31    50   2389.0
2021-01-01     0      0.0
2021-01-02    38   1775.0
2021-01-03     0      0.0
2021-01-04    71   3271.0
2021-01-05    79   3795.0
2021-01-06    91   4766.0
2021-01-07    83   4439.0
2021-01-08    80   4155.0
2021-01-09    53   2852.0
2021-01-10     0      0.0
2021-01-11    84   4271.0
2021-01-12    84   4394.0
2021-01-13    86   4700.0
2021-01-14    80   4059.0
2021-01-15    88   4431.0
2021-01-16    61   3177.0
2021-01-17     0      0.0
2021-01-18    82   4451.0
2021-01-19    82   4292.0
2021-01-20    94   5493.0
2021-01-21    88   4726.0
2021-01-22    85   4851.0
2021-01-23    70   3727.0
2021-01-24     0      0.0
2021-01-25    84   4425.0
2021-01-26    49   2387.0

In [92]:
print(late_data)
print(late_by_data)

[10.  0. 48.  0. 31. 90. 72. 50.  0. 38.  0. 71. 79. 91. 83. 80. 53.  0.
 84. 84. 86. 80. 88. 61.  0. 82. 82. 94. 88. 85. 70.  0. 84. 49.]
[ 781.    0. 2240.    0. 1591. 4310. 3405. 2389.    0. 1775.    0. 3271.
 3795. 4766. 4439. 4155. 2852.    0. 4271. 4394. 4700. 4059. 4431. 3177.
    0. 4451. 4292. 5493. 4726. 4851. 3727.    0. 4425. 2387.]